.bg-violet{
   
    background-color: #9b74ab !important;
}
.bg-bluen{
   
    background-color: #150b66 !important;
}
.bg-nviolet{
   
    background-color: #3c256a !important;
}
body{
   /* background: #dfdff9a1 !important;*/
}

